WebContent/wsdl/StorageWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webservice.gm.farofa.com.br" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webservice.gm.farofa.com.br" xmlns:intf="http://webservice.gm.farofa.com.br" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webservice.gm.farofa.com.br" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="value" type="xsd:string"/>
   <element name="savePhotoReturn" type="xsd:string"/>
  </schema>
 </wsdl:types>

   <wsdl:message name="savePhotoResponse">

      <wsdl:part element="impl:savePhotoReturn" name="savePhotoReturn">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="savePhotoRequest">

      <wsdl:part element="impl:value" name="value">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="StorageWS">

      <wsdl:operation name="savePhoto" parameterOrder="value">

         <wsdl:input message="impl:savePhotoRequest" name="savePhotoRequest">

       </wsdl:input>

         <wsdl:output message="impl:savePhotoResponse" name="savePhotoResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="StorageWSSoapBinding" type="impl:StorageWS">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="savePhoto">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="savePhotoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="savePhotoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="StorageWSService">

      <wsdl:port binding="impl:StorageWSSoapBinding" name="StorageWS">

         <wsdlsoap:address location="http://localhost:8080/GatopolisManager/services/StorageWS"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
